@import "bourbon/bourbon";
@import "base";
@import "../../node_modules/foundation/scss/foundation";

html, body {
  background-color:none;
  background-image:url("../images/tuftsBlur.png");
  background-size:cover;

}

#search-area {
  background:$greyDarkOp;
  margin-top:140px;
  padding:20px;
  @include border-bottom-radius(4px);
  @include border-top-radius(4px);

  #logo {
    text-align: center;
    
    h1 {
      color:$white;
      font-size:72px;
      margin-bottom:.1em;
    }

    h3 {
      color:$white;
      font-weight:100;
      margin-bottom:1em;
      padding:5px 0;
    }
  }

  input {
    font-size:24px;
  }

  #navigation {
    
    li {
      a {
        background:$red;
        display: block;
        height:100px;
        text-align: center;
        color:$white;
        line-height:100px;
        text-transform: uppercase;
        
        @include transition(all .3s ease-in-out);

        &:hover {
          background: lighten($red, 10%);
        }
      }  
    }
  }
}




