/*
Syntax error: Undefined variable: "$grey".
        on line 2 of sass/search.scss

1: $navHeight: 60px;
2: $borderThin: 1px solid $grey;
3: 
4: body.search {
5: 	padding-top:$navHeight;
6: }
7: 

Backtrace:
sass/search.scss:2
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/variable.rb:49:in `_perform'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/node.rb:40:in `perform'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/list.rb:71:in `block in _perform'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/list.rb:71:in `map'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/list.rb:71:in `_perform'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/node.rb:40:in `perform'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:327:in `visit_variable'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin.rb:107:in `method_missing'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:463:in `watch_or_update'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:326:in `process_result'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:41:in `parse'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:21:in `parse!'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/bin/sass:9:in `<top (required)>'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `load'
/Users/kennethcohen/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$grey\".\A         on line 2 of sass/search.scss\A \A 1: $navHeight: 60px;\A 2: $borderThin: 1px solid $grey;\A 3: \A 4: body.search {\A 5: 	padding-top:$navHeight;\A 6: }\A 7: "; }
