<!-- <table ng-controller="SchedCtrl" id="schedule" class="table">

</table>
 -->
<div ng-controller="SchedCtrl">
	<div id="schedule">
		<!-- hour column -->
		<div class="col" id="hours">
			<div class="hour">Hour</div>
			<div class="hour" ng-repeat="hour in hours"><span>{{hour}}</span></div>
		</div>

		<div class="col day">
			<div class="hour">Monday</div>
		</div>

		<div class="col day">
			<div class="hour">Tuesday</div>
		</div>

		<div class="col day">
			<div class="hour">Wednsday</div>
		</div>

		<div class="col day">
			<div class="hour">Thursday</div>
		</div>

		<div class="col day">
			<div class="hour">Friday</div>
		</div>
	</div>

	<button class="button" id="finalize">Finalize</button>
</div>
