<div ng-controller="SchedCtrl">

	<div id='schedule' class='table'>

		<div class="test">
			<div class="hour" ng-repeat="hour in hours">{{hour}}</div>
		</div>

		<div class="test days" ng-repeat="day in days">
			<div class="header">{{day}}</div>
		</div>
	</div>
	
	<button class="button" id="finalize">Finalize</button>
</div>
		
<!-- 			<div class='weekday' ng-repeat="day in days">{{day}}

			</div>

			<div ng-repeat="hour in hours">
				<div>{{hour}}</div>
			</div>

			<div id='class_container'>
				<div class='column' ng-repeat="day in days">
				</div>
			</div> -->
	

