body.home {
  background-color:none;
  @include background-image(url("../images/tuftsBlur.png"));
  background-size:cover;
}

#search-area {
  background:$greyDarkOp;
  margin-top:110px;
  padding:20px;
  @include border-bottom-radius(4px);
  @include border-top-radius(4px);

  #logo {
    text-align: center;
    
    h1 {
      color:$white;
      font-size:72px;
      margin-bottom:.1em;
    }

    h3 {
      color:$white;
      font-weight:300;
      margin-bottom:1em;
      padding:5px 0;
    }
  }

  input[type="text"] {
    font-size:24px;
    margin-bottom: 0px;
  }

  input[type="submit"] {
    width:100%;
    background:$red;
    margin-bottom:30px;

    @include box-shadow(none);

    &:hover {
      background:lighten($red, 5%);
    }
  }

  #navigation {
    
    li {
      a {
        background:$purple;
        display: block;
        height:100px;
        text-align: center;
        color:$white;
        line-height:100px;
        text-transform: uppercase;
        @include border-bottom-radius(4px);
        @include border-top-radius(4px);

        @include transition(all .3s ease-in-out);

        &:hover {
          background: lighten($purple, 10%);
        }
      }  
    }
  }
}