div#schedule {
	font-family:"Ubuntu", sans-serif;
	width:100%;
		
	.test {
		width:100px;
		background:grey;
		float:left;	
		border-right:1px solid red;
		height:300px;
	}
}

#finalize {
	float:right;
	box-shadow:none;
	font-weight:100;
	border:none;

	&:hover {
		background:lighten($red, 10%);
	}
}