*{
	overflow:scroll;
}
#schedule {

	width:100%;
	height:500px;	

	position:relative;
	margin-bottom:30px;
	border:1px solid $grey;
	border-radius:6px;

	@include clearfix;

	.col {
		width:16.66666%;
		height:100%;
		background:lighten($grey, 10%);
		border-right:1px solid $grey;
		float:left;
		display: inline-block;
		position:relative;

		.class {
			width:100%;
			background:$purple;
			color:$white;
			font-size:12px;
			text-align: center;
			border-radius:2px;

			span {
				display: block;
				width:100%;
			}

			.timeSlot {font-weight:100;}
		}
	}

	.hour {
		display: block;
		text-align: center;
		padding:3px 0;
		border-bottom:1px solid $grey;
		font-weight:100;
		width:100%;

		&:first-child {
			font-weight:bold;
		}
	}

	#hours {
		border-right:1px solid $grey;
	}
}


#finalize {
	float:right;
	box-shadow:none;
	font-weight:100;
	border:none;

	&:hover {
		background:lighten($red, 10%);
	}
}