<div class="row">
	<div class="columns large-8 large-offset-2" id="search-area">
		<div id="logo">
			<h1>uSLIS</h1>
			<h3>I swear this won't be too painful.</h3>
		</div>
		<form>
			<input type="text" placeholder="Search for a class">
		</form>
		
		<ul class="large-block-grid-3" id="navigation">
		  <li><a href="#">Button</a></li>
		  <li><a href="#">Button</a></li>
		  <li><a href="#">Button</a></li>
		  <li><a href="#">Button</a></li>
		  <li><a href="#">Button</a></li>
		  <li><a href="#">Button</a></li>
		</ul>

	</div>
</div>